{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react","@typescript-eslint","prettier"],
  "extends": [],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-filename-extension": [1,{"extensions": [".js",".jsx"]}]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}